/* .sticky-cards {
    position: relative;
    width: 100%;
    height: 50%;
}

.sticky-card {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 1.5rem;

    display: flex;
    gap: 9rem;
    align-items: flex-start;
}

.sticky-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: var(--after-opacity, 0);
    transition: opacity 0.1s ease;
    pointer-events: none;
    z-index: -1;
}

.sticky-card-index {
    flex: 4;
    padding: 1.5rem;
}

.sticky-card-content-wrapper {
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sticky-card-header {
    aspect-ratio: 5/3;
}

.sticky-card-copy {
    display: flex;
    gap: 1.5rem;
}

.sticky-card-copy-title {
    flex: 2;
}

.sticky-card-copy-title {
    text-transform: uppercase;
    font-weight: 650;
}

@media (max-width: 1000px) {
    .sticky-card {
        flex-direction: column;
        gap: 0;
    }

    .sticky-card-content-wrapper {
        width: 100%;
    }

    .sticky-card-copy {
        flex-direction: column;
        gap: 0.5rem;
    }

    .sticky-card-index {
        flex: 1;
    }
}

.sticky-card {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 1.5rem;

    display: flex;
    gap: 9rem;
    align-items: flex-start;
} */